In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {'Delta': [1, 6],
     'Theta': [2, 7],
     'Alpha': [3, 8],
     'Beta': [4, 9],
     'Gamma': [5, 10], }, index=['ch0', 'ch1']
)
df

     Delta  Theta  Alpha  Beta  Gamma
ch0      1      2      3     4      5
ch1      6      7      8     9     10

In [3]:
df.to_numpy().flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [4]:
d = {}
for i, ch in enumerate(df.index):
    for band in df.columns:
        d[f'ch{i}_{band}'] = df.loc[ch, band]
d

{'ch0_Delta': np.int64(1),
 'ch0_Theta': np.int64(2),
 'ch0_Alpha': np.int64(3),
 'ch0_Beta': np.int64(4),
 'ch0_Gamma': np.int64(5),
 'ch1_Delta': np.int64(6),
 'ch1_Theta': np.int64(7),
 'ch1_Alpha': np.int64(8),
 'ch1_Beta': np.int64(9),
 'ch1_Gamma': np.int64(10)}

In [5]:
ser = pd.Series(d, name='value')
ser

ch0_Delta     1
ch0_Theta     2
ch0_Alpha     3
ch0_Beta      4
ch0_Gamma     5
ch1_Delta     6
ch1_Theta     7
ch1_Alpha     8
ch1_Beta      9
ch1_Gamma    10
Name: value, dtype: int64