# Info
Compare all seizures to see if any are duplicated between patients

In [1]:
from config.paths import PATHS, Dataset

anns = {}
for pt in PATHS.patient_dirs([Dataset.for_mayo], True):
    anns[pt.name] = pt.szr_anns_original_dir / f'{pt.name}.pkl'
for pt in PATHS.patient_dirs([Dataset.uneeg_extended], True):
    anns[pt.name] = pt.combined_anns_file.with_suffix('.pkl')
for pt in PATHS.patient_dirs([Dataset.competition], True):
    anns[pt.name] = pt.all_szr_starts_file.with_suffix('.pkl')
anns

{'K37N36L4D': PosixPath('/data/home/webb/UNEEG_data/20240201_UNEEG_ForMayo/K37N36L4D/seizure_annotations/seizure_annotations_original/K37N36L4D.csv'),
 'G39B4L9E': PosixPath('/data/home/webb/UNEEG_data/20240201_UNEEG_ForMayo/G39B4L9E/seizure_annotations/seizure_annotations_original/G39B4L9E.csv'),
 'M39K4B3C': PosixPath('/data/home/webb/UNEEG_data/20240201_UNEEG_ForMayo/M39K4B3C/seizure_annotations/seizure_annotations_original/M39K4B3C.csv'),
 'P73M2F6H': PosixPath('/data/home/webb/UNEEG_data/20240201_UNEEG_ForMayo/P73M2F6H/seizure_annotations/seizure_annotations_original/P73M2F6H.csv'),
 'B52K3P3G': PosixPath('/data/home/webb/UNEEG_data/20240201_UNEEG_ForMayo/B52K3P3G/seizure_annotations/seizure_annotations_original/B52K3P3G.csv'),
 'E85L95P2H': PosixPath('/data/home/webb/UNEEG_data/invalid_patients/20240201_UNEEG_ForMayo/E85L95P2H/seizure_annotations/seizure_annotations_original/E85L95P2H.csv'),
 'F5TW95P3X': PosixPath('/data/home/webb/UNEEG_data/20250217_UNEEG_Extended/F5TW95P3X/seizure_annotations/combined_annotations.csv'),
 'D63Q51K2N': PosixPath('/data/home/webb/UNEEG_data/20250217_UNEEG_Extended/D63Q51K2N/seizure_annotations/combined_annotations.csv'),
 'P4Hk23M7L': PosixPath('/data/home/webb/UNEEG_data/20250217_UNEEG_Extended/P4Hk23M7L/seizure_annotations/combined_annotations.csv'),
 'A4RW34Z5B': PosixPath('/data/home/webb/UNEEG_data/invalid_patients/20250217_UNEEG_Extended/A4RW34Z5B/seizure_annotations/combined_annotations.csv'),
 'L3GS57K2T': PosixPath('/data/home/webb/UNEEG_data/invalid_patients/20250217_UNEEG_Extended/L3GS57K2T/seizure_annotations/combined_annotations.csv'),
 'K53T36N7F': PosixPath('/data/home/webb/UNEEG_data/invalid_patients/20250217_UNEEG_Extended/K53T36N7F/seizure_annotations/combined_annotations.csv'),
 'E15T65H3Z': PosixPath('/data/home/webb/UNEEG_data/invalid_patients/20250217_UNEEG_Extended/E15T65H3Z/seizure_annotations/combined_annotations.csv'),
 'P2': PosixPath('/data/home/webb/UNEEG_data/20250501_SUBQ_SeizurePredictionCompetition_2025final/P2/seizure_annotations/seizure_starts_all.csv'),
 'P1': PosixPath('/data/home/webb/UNEEG_data/20250501_SUBQ_SeizurePredictionCompetition_2025final/P1/seizure_annotations/seizure_starts_all.csv'),
 'P3': PosixPath('/data/home/webb/UNEEG_data/20250501_SUBQ_SeizurePredictionCompetition_2025final/P3/seizure_annotations/seizure_starts_all.csv')}

In [2]:
import pandas as pd
from pandas import DataFrame

dfs = []
keys = []

for ptnt, ann in anns.items():
    df = pd.read_pickle(ann)
    dfs.append(df)
    keys.append(ptnt)

all_szrs = pd.concat(dfs, keys=keys, names=['patient', 'seizure_idx'])
all_szrs = all_szrs.drop(columns=['valid', 'Unnamed: 0'])
all_szrs

                                     type                    start  \
patient   seizure_idx
K37N36L4D 0              Seizure-rhythmic                      NaN
          1              Seizure-rhythmic                      NaN
          2              Seizure-rhythmic                      NaN
          3              Seizure-rhythmic                      NaN
          4            Seizure-rhythmic +                      NaN
...                                   ...                      ...
P3        21                          NaN  2022-06-09 23:34:36.913
          22                          NaN  2022-06-12 07:19:21.835
          23                          NaN  2022-07-03 03:07:08.495
          24                          NaN  2022-07-04 02:02:43.497
          25                          NaN  2022-07-08 05:20:05.000

                                 single_marker  end  comment
patient   seizure_idx
K37N36L4D 0            2022-03-07 22:28:15.749  NaN      NaN
          1            2022-03-13 17:16:35.678  NaN      NaN
          2            2022-04-03 20:53:44.536  NaN      NaN
          3            2022-04-08 06:16:24.342  NaN      NaN
          4            2022-04-08 14:57:16.435  NaN      NaN
...                                        ...  ...      ...
P3        21                               NaN  NaN      NaN
          22                               NaN  NaN      NaN
          23                               NaN  NaN      NaN
          24                               NaN  NaN      NaN
          25                               NaN  NaN      NaN

[585 rows x 5 columns]

In [3]:
duplicates = {}

for col in ['single_marker', 'start', 'end']:
    duplicate_mask = all_szrs[col].duplicated(keep=False)
    dups = all_szrs[col][duplicate_mask]
    dups.dropna(inplace=True)
    duplicates[col] = dups

In [4]:
duplicates['single_marker']

Series([], Name: single_marker, dtype: object)

In [5]:
duplicates['start']

Series([], Name: start, dtype: object)

In [6]:
duplicates['end']

Series([], Name: end, dtype: object)